@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #0a1106;
    --secondary-color: #e9c675;
    --text-light: #d6ddd2;
    --max-width: 1200px;
    --header-font: "Playfair Display", serif;
    --color-white: #fff;
    --color-black: #000;
    --color-light-hover: #e8e9e7;
    --color-dark: #525252;
    --color-light: #f4f4f4;
    --color-light-green: #6c866f;
    --color-dark-grey: #777;
    --color-light-grey: #ccc;
    --color-transparent-grey: rgba(25, 43, 17, 0.3);
    --transition: all 300ms ease;
}

body {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--text-light);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

html,
body {
    scroll-behavior: smooth;
}

.header {
    /* min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            var(--primary-color)
        ),
        url(./assets/images/homepage_prop.jpg);
    background-position: center;
    background-size: cover;
    position: relative; */
    position: relative;
    height: 100vh;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 15rem);
    background-image: radial-gradient(
            rgba(255, 255, 255, 0),
            var(--primary-color)
        ),
        url("./assets/images/homepage_prop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

p {
    line-height: 1.8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* section {
    max-width: 100vw;
    overflow: hidden;
} */

/* section h1 {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
} */

.section__header {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--color-white);
}

.section__container {
    margin: auto;
    padding: 5rem 1rem;
}

/************NAV******************/

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li a:hover {
    color: var(--secondary-color);
}

.nav-links ul li:hover::after {
    width: 100%;
}

/**************TEXT BOX***************/
.text-box {
    width: 90%;
    color: var(--color-white);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 28px;
    font-weight: 600;
    color: var(--color-white);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: 1s;
    color: var(--color-black);
}

nav .fa {
    display: none;
}

/*********************ABOUT US****************************/

.about-us {
    height: 100vh;
    width: 100%;
    padding: 60px 180px;
    margin-bottom: 30px;
    background-color: var(--primary-color);
    display: flex;
    gap: 5rem;
}

.about-us h2 {
    margin-bottom: 25px;
}

.image__container img {
    max-height: 100%;
    max-width: 400px;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    object-fit: contain;
}

.about__content p {
    margin-bottom: 1.5rem;
    color: var(--text-light);
}

.about__content {
    max-width: 400px;
}

.about__content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
}

.about__content a span {
    transition: 0.3s;
}

.about__content a:hover span {
    transform: translateX(10px);
}

/*********************FEATURED PROPERTIES****************************/
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.project-container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.project-container h2 {
    color: var(--primary-color);
}

.project-col {
    flex-basis: 32%;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font);
    height: 28rem;
}

.project-col img {
    width: 100%;
    display: block;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    cursor: pointer;
}

.layer:hover {
    background: var(--color-transparent-grey);
}

.layer h3 {
    width: 100%;
    font-weight: 700;
    color: var(--color-white);
    font-size: 26px;
    bottom: -100px;
    left: 60%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer p {
    width: 100%;
    font-weight: 400;
    color: var(--color-white);
    font-size: 13px;
    bottom: -100px;
    left: 60%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.8s;
}

.layer:hover h3 {
    bottom: 60%;
    opacity: 1;
}

.layer:hover p {
    bottom: 45%;
    opacity: 1;
}

/*********************CONTACT****************************/

.contact {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(assets/images/contact-us.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.clear-contact-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(assets/images/contact-us.jpg);
}

.contact h1,
.sub-contact h1 {
    color: var(--color-white);
    margin-bottom: 40px;
    padding: 0;
}

/*********************FOOTER****************************/
footer {
    padding-top: 2rem;
    background: var(--primary-color);
}

footer .container h3 {
    color: var(--color-white);
    line-height: 1.2;
    font-size: 1.2rem;
}

footer .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container img {
    width: 240px;
}

footer .container ul {
    display: flex;
    gap: 3rem;
}

footer .container ul a {
    color: var(--color-white);
    transition: var(--transition);
}

footer .container ul a:hover {
    color: var(--secondary-color);
}

footer .container .socials {
    display: flex;
    gap: 2rem;
    color: var(--color-white);
}

footer .container .socials a {
    font-size: 1.2rem;
    color: var(--color-white);
}

footer .container .socials a:hover {
    color: var(--secondary-color);
}

footer .container .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*********************ABOUT US PAGE****************************/
.sub-header {
    max-height: 70vh;
    width: 100%;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            var(--primary-color)
        ),
        url(assets/images/contact-us.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}

.sub-header h1,
.get-col h1,
.vision-content h1 {
    margin-top: 25px;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-family: var(--header-font);
}

.sub-header p {
    padding: 5px 100px 25px;
}

/*************Vision***************/
section.visions {
    background: var(--color-light);
    padding: 6rem 0 7rem;
}

section.visions .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

section.visions .container .vision {
    background: var(--color-white);
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
    transition: var(--transition);
}

section.visions .container .vision p {
    font-size: 0.8rem;
}

section.visions .container .vision:hover {
    box-shadow: 0 3rem 3rem var(--text-light);
}

section.visions .container .vision span {
    background: var(--color-red);
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-white);
}

section.visions .container .vision span {
    background: var(--color-light-green);
}

section.content {
    padding: 3rem;
}

section.content p {
    line-height: 2rem;
    margin-top: 0.75rem;
}

#first {
    margin-bottom: 2rem;
    font-weight: 500;
}

.get-involved {
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.get-involved.meetings {
    background-color: var(--color-light);
}

.get-involved.live-well {
    color: var(--color-white);
}

.section-container,
.vision-content {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.get-col {
    flex-basis: 48%;
    padding: 20px 2px;
}

.get-col img {
    width: 100%;
}

.get-col h1 {
    padding-top: 0;
    text-align: left;
}

.get-col p {
    padding: 10px 0 10px;
}

.red-btn {
    border: 1px solid var(--color-red);
    background: transparent;
    color: var(--color-red);
}

.red-btn:hover {
    color: var(--color-white);
}

.donate-btn {
    margin-top: 30px;
}

/*********************CONTACT US****************************/
.contact-us {
    width: 30%;
    margin: 0 auto;
}

.contact-form {
    margin: 60px 0;
}

.contact-us .contact-form input,
.contact-us .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid var(--color-light-grey);
}

.contact-header {
    font-family: var(--header-font);
}

/*********************FEATURED PROPERTIES PAGE****************************/
.project-page-container {
    width: 100%;
    color: var(--color-white);
}
.page {
    background-color: var(--primary-color);
}

.project {
    width: 80%;
    margin: 90px auto;
}

.project h1 {
    margin-bottom: 1rem;
}

/*********************MEDIA QUERIES****************************/
@media (max-width: 700px) {
    body {
        h1 {
            font-size: 2.2rem;
        }
        h2 {
            font-size: 1.6rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        h4 {
            font-size: 1rem;
        }
        h5 {
            font-size: 0.68rem;
        }
        .container {
            width: 94%;
        }
        p {
            font-size: 0.8rem;
        }
    }

    nav img {
        width: 150px;
    }
    .sub-header {
        height: 70vh;
    }

    .sub-header h1 {
        margin: 20px;
        font-size: 1.6rem;
    }

    .sub-header p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .get-involved.meetings {
        height: 130vh;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .text-box p {
        font-size: 14px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: var(--color-red);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: var(--color-white);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .row {
        flex-direction: column;
    }

    .contact,
    .donate {
        margin: 60px auto 30px;
    }

    .contact h1,
    .donate h1 {
        font-size: 24px;
    }

    section.about-us {
        padding-left: 48px;
        padding-right: 48px;
    }

    footer .container {
        flex-direction: column;
        gap: 3rem;
    }

    footer .container h3 {
        text-align: center;
    }

    footer .container ul {
        flex-direction: column;
        text-align: center;
        gap: 1.4rem;
    }

    footer .footer-panel {
        flex-direction: column;
        align-items: center;
    }

    footer .container .footer-img {
        display: flex;
        flex-direction: column;
    }

    section.content {
        width: 90%;
        margin: 0 auto;
        padding: 1.2rem;
    }

    section.values .container,
    section.visions .container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }

    .get-involved img {
        display: none;
    }
    .contact-us {
        width: 80%;
    }

    /*******project**********/

    .project-content-container {
        padding: 40px 20px;
    }

    .project-content {
        width: 85%;
    }
}
